<h1 class="title">商品分類列表</h1>

<%= link_to "新增分類", new_admin_category_path, class: 'button' %>

<article class="message">
  <div class="message-body">小提示：可使用拖拉調整商品分類順序喔</div>
</article>

<table class="table is-fullwidth has-shadowed">
    <thead>
      <tr>
        <th>商品分類名稱</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="sortable-items"> <!-- 讓js掃到這塊時 知道裡面的東西可以拖拉 （不一定要叫sortable-items 叫什麼名字 js裡就用什麼名字抓）-->
      <% @categories.each do |category|  %>
        <tr class="item" data-item="<%= dom_id(category) %>">
          <!-- data-item每個item都有一個獨立的id -->
          <!-- dom_id為 rails中的一個helper，幫你把id長在這裡，這樣之後才能分辨是 拖拉 哪一個分類 -->
          <!--  <tr class="item" data-item="category_1"> -->
          <td><i class="fa-solid fa-grip-vertical"></i> <%= link_to category.name, edit_admin_category_path(category) %></td>
          <td>
            <%= link_to "編輯", edit_admin_category_path(category), class: 'button is-light is-small' %>
          </td>
          <td>
            <%= link_to "刪除", admin_category_path(category), method: :delete, data: { confirm: '確認刪除?' }, class: 'button is-danger is-small' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <!-- # Note the double equals sign "==" which marks the output as trusted and html safe:  -->
  <%== pagy_nav(@pagy) %>