<%= form_with(model: [:admin, product]) do |form| %>

  商品主圖：
  <%= form.file_field :cover_image %>
  <br/>
  <%= image_tag form.object.cover_image.variant(resize: '600x400') if form.object.cover_image.attached? %>

  <hr>

  <div class="columns">
    <div class="column is-6">
      <div class="field">
        <%= form.label :name, '商品名稱', class: 'label' %>
        <%= form.text_field :name, class: 'input is-medium' %>
      </div>
    </div>
    <div class="column is-3">
      <div class="field">
        <%= form.label :vendor_id, '廠商', class: 'label' %>
        <div class="select is-medium is-fullwidth">
          <%= form.collection_select :vendor_id, Vendor.available, :id, :title %>
          <!-- form.collection_select會做出 下拉式選單 -->
          <!-- :vendor_id 下拉選單有這個選項，才能知道表單送出後 新建立的商品資料 要 寫入資料要寫到哪個廠商的商品欄位 -->
          <!-- :vendor_id, :id, :title 為下拉選單的選項的資料送出後 要有的欄位-->
          <!-- Vendor.available 下拉選單資料來源（可選的廠商 排除 非正常營業中的） -->
          <!-- Vendor是類別 所以.available是 類別方法 -->
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="field">
        <%= form.label :category_id, '商品分類', class: 'label' %>
        <div class="select is-medium is-fullwidth">
          <%= form.collection_select :category_id, Category.all, :id, :name %>
          <!-- form.collection_select會做出 下拉式選單 -->
          <!-- :category_id 下拉選單有這個選項，才能知道表單送出後 新建立的商品資料 要 寫入資料要寫到哪個商品分類 -->
          <!-- :id, :name 為下拉選單的選項的資料送出後 要有的欄位-->
          <!-- Category.all 下拉選單資料來源（所有商品分類皆可選） -->
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :list_price, '定價', class: 'label' %>
        <%= form.number_field :list_price, class: 'input is-medium' %>
        <!-- 數字型輸入框，在前端html就過濾掉非數字之輸入 -->
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :sell_price, '售價', class: 'label' %>
        <%= form.number_field :sell_price, class: 'input is-medium' %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.check_box :on_sell %>
    <%= form.label :on_sell, '是否上架？', class: 'checkbox' %>
  </div>

  <div class="field">
    <%= form.label :description, '商品描述', class: 'label' %>
    <%= form.rich_text_area :description %>
  </div>

  <hr>
  <h3>庫存項目</h3>

  <div data-controller="product-form">

    <template data-target="product-form.template">
      <!-- 此標籤會出現在原始碼中，但不會被瀏覽器給render出來 -->
      <!-- data-target要被stimulus.js操縱的元素 -->
      <%= form.fields_for :skus, Sku.new, child_index: 'NEW_RECORD' do |sku| %>
      <!-- 希望可以點一下就長出新的sku -->
      <!-- child index, https://stackoverflow.com/questions/2879208/rails-fields-for-child-index-option-explanation -->
        <%= render 'sku_fields', form: sku %>
      <% end %>
    </template>

    <!-- 巢狀表單 -->
    <!-- https://guides.rubyonrails.org/form_helpers.html#configuring-the-model -->
    <!-- 10.2 -->
    <%= form.fields_for :skus do |sku_form| %>
    <!-- form.fields_for :「model中accepts_nested_attributes_for的項目」 -->
    <!-- 用form會跟上面打架 所以取名sku_form -->
      <%= render 'sku_fields', form: sku_form %>
      <!-- 但這裡 還是 可以 透過 將此處的sku_form 指定給 區域變數form的 方式，讓 局部渲染的檔案裡 還是可以用form就好 -->
    <% end %>

    <div data-target="product-form.link">
      <%= link_to "新增品項", '#', class: 'button is-light is-small', data: {action: 'product-form#add_sku'} %>
      <!-- data action：此按鈕被點擊後 要觸發js product-form controller 的 add_sku函式-->
    </div>

  </div>


  <%= form.submit class: 'button is-primary is-medium' %>
<% end %>