<!DOCTYPE html>
<html>
  <head>
    <title>電商網站</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <!-- 專門負責turbolinks的暫存控制 不要快取-->
    <!-- 不要快取 速度上會慢一點 因為回上一頁時不會做快取 -->
    <!-- 但這樣設定可以 在享受turbolinks好處的同時，又不用管其 暫存引發的多次觸發js問題 -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>
    <!-- javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' -->
    <!-- 會去找frontend（webpack資料夾）下的packs的application.js（此檔案已引入stimulus.js及 所有 前台 的 styles及scripts） -->
    <!-- javascript_include_tag 'shared', 'data-turbolinks-track': 'reload' -->
    <!-- webpacker無法編譯時，那就交給 Sprockets 編譯，採javascript_include_tag寫法 -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"> -->
		<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css"> -->

  </head>

  <body>
    <%= render 'shared/flash' if notice %>
    <!-- 前後端都會用到 跳提醒視窗的畫面 -->
    <%= render 'shared/frontend/navbar'%>
    <!-- 路徑起始點為views-->
    <!-- 不用寫最前面之底線 及 副檔名 -->
    <!-- 雖然用partial render的手法，會讓效能差一點點（讀取檔案需要效能），但會提升程式碼可讀性 -->
    <%= render 'shared/frontend/top_menu', categories: @categories %>
    <!-- @categories在controller是撈出 依照position欄位值排序 的 商品分類資料 -->

    <%= yield %>
    
    <%= render 'shared/frontend/footer' %>

    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>

  </body>
</html>
