<!DOCTYPE html>
<html>
  <head>
    <title>電商網站 後台管理系統</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <!-- 專門負責turbolinks的暫存控制 不要快取-->
    <!-- 不要快取 速度上會慢一點 因為回上一頁時不會做快取 -->
    <!-- 但這樣設定可以 在享受turbolinks好處的同時，又不用管其 暫存引發的多次觸發js問題 -->

    <%= stylesheet_link_tag 'shared/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'backend', 'data-turbolinks-track': 'reload'  %>
    <!-- 會去找frontend（webpack資料夾）下的packs的backend.js（此檔案已引入stimulus.js及 所有 前台 的 styles及scripts） -->
    <!-- javascript_include_tag 'shared', 'data-turbolinks-track': 'reload' -->
  </head>

  <body>
    <%= render 'shared/flash' if notice %>
    <!-- 前後端都會用到 跳提醒視窗的畫面 -->
    <%= render 'shared/backend/navbar'%>
    <!-- 路徑起始點為views-->
    <!-- 不用寫最前面之底線 及 副檔名 -->
    <!-- 雖然用partial render的手法，會讓效能差一點點（讀取檔案需要效能），但會提升程式碼可讀性 -->
    <section class="container"> <!-- 幫所有後台頁面都弄出margin空間 -->
      <%= yield %>
    </section>
    
  </body>
</html>
